# Auto detect text files
* text=auto

# Normalize line endings
*.cs text
*.js text
*.jsx text
*.ts text
*.tsx text
*.json text
*.sql text
*.html text
*.css text
*.md text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary